h1 {
    margin-left: 70px;
    text-align: center;
    background-color: brown;
    font-size: 50px;
    font:bolder;
    }

div {
    margin: auto;
    text-align: center;
    background-color:black;
    font: bold;
    font-size: 25px;
   
    


}