Students {
	color: purple;
	background-color : burlywood;
	width: 100%;
    display:table;
    text-align:left; 
}
Student {
    display:table; 
    border: 1px solid silver;
    margin: 0.7em; 
    padding:0.7em; 
    background-color:whitesmoke;
     
    }
heading {
	color: black;
	font-size : 40px;
	background-color : powderblue;
    font-weight:bolder;
    text-align:center;
}
heading, Name, Department,Year, Credit {
	display : table;

}
Name {
    color:rgb(89, 93, 89); 
    text-decoration: underline;
	font-size : 30px;
	font-weight : bold;

}
Department {
    color:palevioletred; 
	font-size : 20px;
	font-weight :bolder ;
}

Year {
    color:palevioletred; 
	font-size : 20px;
	font-weight :bolder ;
}

Credit {
    color:palevioletred; 
	font-size : 20px;
	font-weight :bolder ;
}


